

  <!--
     <a routerLink="/add" class="ajouterBtn">
    <button mat-flat-button color="accent">
      Ajouter Assignment
    </button>
  </a>

  <h2>Liste des devoirs :</h2>

  <div class="barrePagination">
    <p>Page courante : {{page}}, assignments visibles : {{pagingCounter}} - {{pagingCounter + limit-1}}, nbPages total {{totalPages}}</p>
    <p>Nb assignments par page : <input type="range" min=5 max=100 [(ngModel)]="limit" (change)="getAssignments()">
      {{limit}}
    </p>

    <button mat-flat-button color="primary" [disabled]="!hasPrevPage" (click)="premierePage()">Première page</button>
    &nbsp;

    <button mat-flat-button color="primary" (click)="pagePrecedente()"[disabled]="!hasPrevPage">Page précédente</button>
    &nbsp;
    <button mat-flat-button color="primary" (click)="pageSuivante()" [disabled]="!hasNextPage">Page suivante</button>
    &nbsp;
    <button mat-flat-button color="primary" (click)="dernierePage()" [disabled]="!hasNextPage">Dernière page</button>
  </div>
  <table mat-table [dataSource]="assignments" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="dateDeRendu">
      <th mat-header-cell *matHeaderCellDef> Date de Rendu </th>
      <td mat-cell *matCellDef="let element"> {{element.dateDeRendu}} </td>
    </ng-container>

    <ng-container matColumnDef="rendu">
      <th mat-header-cell *matHeaderCellDef> Rendu </th>
      <td mat-cell *matCellDef="let element"> {{element.rendu}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
-->

<div>
  <main class="container">
  
    <h2>Liste des assignments:</h2>
    <div cdkDropListGroup>
      <div class="example-container">
        <h5>Non rendu</h5>
        <button mat-flat-button color="primary" (click)="pagePrecedente()"[disabled]="!hasPrevPage"><mat-icon>navigate_before</mat-icon></button>
        &nbsp;
        <button mat-flat-button color="primary" (click)="pageSuivante()" [disabled]="!hasNextPage"><mat-icon>navigate_next</mat-icon></button>
    
        <div
          cdkDropList
          [cdkDropListData]="nonrendu"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of nonrendu" cdkDrag>
            <mat-card class="example-card">
              <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Small</mat-card-subtitle>
                <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
              </mat-card-title-group>
              <mat-card-content>
                Test
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    
      <div class="example-container">
        <h5>Rendu</h5>
        <button mat-flat-button color="primary" (click)="pagePrecedente()"[disabled]="!hasPrevPage"><mat-icon>navigate_before</mat-icon></button>
        &nbsp;
        <button mat-flat-button color="primary" (click)="pageSuivante()" [disabled]="!hasNextPage"><mat-icon>navigate_next</mat-icon></button>
    
        <div
          cdkDropList
          [cdkDropListData]="rendu"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box2">
            <mat-card class="example-card">
              <mat-card-title-group >
                <mat-card-title ><h5>Glisser ici pour rendre un assignment.</h5></mat-card-title>
              </mat-card-title-group>
              <mat-card-content>
                
              </mat-card-content>
            </mat-card>
          </div>
          <div class="example-box" *ngFor="let item of rendu">
            <mat-card class="example-card">
              <mat-card-title-group>
                <mat-card-title>Nom devoir</mat-card-title>
                <mat-card-subtitle>Nom eleve</mat-card-subtitle>
                <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
              </mat-card-title-group>
              <mat-card-content>
                date
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

