a {
    text-decoration: none;
    color: white;
}
a:hover, a:active{
    color: lightgray;
}
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: right;
}
mat-toolbar{
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
}
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}
dl, ol, ul {
    margin-top: unset;
     margin-bottom: unset;
}